@{
    string cpfCuidador = Request.QueryString["cpf"];
}

<form method="post" action="~/DAL/CuidadorDAL/DeleteCuidadorDAL.cshtml">
    <input type="hidden" value="@cpfCuidador" name="textCpfCuidador" />
    <h4> Deseja realmente excluir este Cuidador? </h4>
    <p></p><br />
    <button type="button" class="btn-lg btn-success" data-dismiss="modal">Não</button> | <input type="submit" class="btn-lg btn-danger" value="Sim" />
</form>