@{
    Validation.RequireField("txtSala", "CAMPO OBRIGATÓRIO!");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    if (IsPost && Validation.IsValid())
    {
        var db = WebMatrix.Data.Database.Open("dbBancoPIM");

        <!--Dados do Responsavel-->
        string nome = Request.Form["txtSala"];

        <!--Pesquisar sobre validação de formulario-->
        db.Execute("INSERT INTO Sala (nome) VALUES(@0)", nome);

        db.Close();

        <h1 class="text-success">Cadastro realizado com sucesso!</h1>
        <hr />
        <a href="~/Index.cshtml" class="btn btn-success">Voltar</a>

    }
    else
    {
        <form method="post" action="">

            <h3 class="text-primary">Cadastro da Sala</h3>
            <hr />

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="txtSala"> Sala: </label>
                        <input type="text" name="txtSala" class="form-control" />
                        @Html.ValidationMessage("txtSala")
                    </div>
                </div>
            </div>
            <a href="~/Index.cshtml" class="btn btn-danger">Cancelar</a> | <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
    }
}