@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" action="~/DAL/TurmaDAL/TurmaDAL.cshtml">

    <h3 class="text-primary">Cadastro da Turma</h3>
    <hr />

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="txtTurma"> Turma: </label>
                <input type="text" name="txtTurma" placeholder="Nome da Turma" class="form-control" />
            </div>
        </div>
    </div>
    <a href="~/Index.cshtml" class="btn btn-danger">Cancelar</a> | <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>